@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-hvm-bg text-gray-100 min-h-screen;
}

/* Pixel-perfect canvas rendering */
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
